table{
    border: 5px solid black;
    border-collapse: collapse; 
    text-align: center;
}
tr{
    border: 1px solid black;
    height: 63px;
}
td{
    border: 1px solid black;
    width: 60px;
    user-select: none;
}

.bas, .haut, .right, .left{
    border-left: 3px;
}


button{
 margin-top: 5px;
}

div>div{
    position: relative;
    display: table-cell;
    width: 20px;
    height: 20px;
    user-select: none;

}

td>div{
    position: relative;
    user-select: none;
}